<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-resources.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/angular/module.js"></script>
    <script src="/js/angular/services.js"></script>
    <script src="/js/angular/controller.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel='stylesheet' href='/css/style.css'/>
    <base href="/">
</head>
<body data-ng-app="NodePadApp">
<div data-ui-view="navigation">
</div>
<div data-ui-view="content">Default Page</div></body>
</html>