body {
    max-width: 800px;
    margin: 10px auto;
}

.centerAlignedDiv {
    text-align: center;
}
#errorNotification,#successNotification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100;
}
.panel-heading{
    text-align: center;
}
