<div style="margin: 10px" class="alert alert-danger" role="alert" id="errorNotification" ng-show="errorOccured">
    <strong>{{errorMessage}}</strong>
</div>
<div style="margin: 10px" class="alert alert-success" role="alert" id="successNotification" ng-show="successAlert">
    <strong>{{successMessage}}</strong>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>{{title}} Note</h1>
    </div>
    <div class="panel-body">
        <div ng-show="noteEditedSuccessfully">
            <p>Your Note has been edited Successfully</p>

        </div>
        <div ng-hide="noteEditedSuccessfully">
            <form id="addNoteForm" ng-submit="submitAddEditNoteForm()" role="form">
                <div class="form-group">
                    <label for="noteName">Note Name</label>
                    <input type="text" class="form-control" data-ng-model="noteName" id="noteName" placeholder="Enter Note Title" required>
                </div>
                <div class="form-group">
                    <label for="noteContent">Note Content</label>
                    <textarea class="form-control" name="noteContent" id="noteContent" data-ng-model="noteContent" cols="30" rows="10" required></textarea>
                </div>
                <div class="form-group">
                    <input id="submitButton" type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>

        </div>
    </div>
</div>