<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Dashboard</h1>
    </div>
    <div class="panel-body">
        <h2>Welcome {{currentUser.name}}</h2>
        <p>You Current Have {{currentUser.notes.length}} notes</p>
    </div>
</div>