<div style="margin: 10px" class="alert alert-danger" role="alert" id="errorNotification" ng-show="errorOccured">
    <strong>{{errorMessage}}</strong>
</div>
<div style="margin: 10px" class="alert alert-success" role="alert" id="successNotification" ng-show="successAlert">
    <strong>{{successMessage}}</strong>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>View Notes</h1>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Time</th>
                <th>Action</th>
            </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="note in notesArray">
                    <td>{{$index+1}}</td>
                    <td>{{note.name}}</td>
                    <td>{{note.createdAt | date:'HH:mm:ss (dd-MM-yyyy)'}}</td>
                    <td>
                        <button data-ng-click="editNote(note._id)" class="btn btn-primary">View/Edit</button>
                        <button data-ng-click="deleteNote($index,note._id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>