<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Welcome to NodePad</h1>
    </div>
    <div class="panel-body">
        <p>A Notepad App built using MEAN Stack</p>
    </div>
</div>

