<div style="margin: 10px" class="alert alert-danger" role="alert" id="errorNotification" ng-show="errorOccured">
    <strong>{{errorMessage}}</strong>
</div>
<div style="margin: 10px" class="alert alert-success" role="alert" id="successNotification" ng-show="successAlert">
    <strong>{{successMessage}}</strong>
</div>