<div style="margin: 10px" class="alert alert-danger" role="alert" id="errorNotification" ng-show="errorOccured">
    <strong>{{errorMessage}}</strong>
</div>
<div style="margin: 10px" class="alert alert-success" role="alert" id="successNotification" ng-show="successAlert">
    <strong>{{successMessage}}</strong>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Registration Panel</h1>
    </div>
    <div class="panel-body">
        <form id="LoginForm" ng-submit="submitRegistrationForm()" role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" data-ng-model="email" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" data-ng-model="password" id="password" placeholder="Password" pattern=".{6,15}" title="Minimum 6 & Max 15 Characters" required>
            </div>
            <div class="form-group">
                <input id="submitButton" type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>